@font-face {
	font-family:Unicons;
	src:url(../fonts/Unicons.woff2) format("woff2"),url(../fonts/Unicons.woff) format("woff");
	font-weight:400;
	font-style:normal;
	font-display:block
}
@font-face {
	font-family:Custom;
	src:url(../fonts/Custom.woff2) format("woff2"),url(../fonts/Custom.woff) format("woff");
	font-weight:400;
	font-style:normal;
	font-display:block
}